@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Playfair+Display:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

header {
  margin: 0px 255px 0px 255px;
}
@media screen and (max-width: 1200px) {
  header {
    margin: 0px 90px 0px 90px;
  }
}
@media screen and (max-width: 860px) {
  header {
    margin: 0px 40px 0px 40px;
  }
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  header {
    margin: 0px;
  }
}
@media screen and (max-width: 349px) {
  header .navbar {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  header .navbar .navbar-nav {
    flex-direction: row;
    margin-right: 20px;
  }
}
@media screen and (max-width: 349px) {
  header .navbar .navbar-nav {
    flex-direction: row;
  }
}
header .navbar li {
  background-color: #014F86;
  font-size: 13px;
}
@media screen and (max-width: 860px) {
  header .navbar li {
    font-size: 11.5px;
  }
}
header .navbar li a {
  color: #ADB5BD;
}
header .navbar li a:hover {
  color: white;
}
header .jumbotron {
  background-color: #010B14;
  font-family: "Playfair Display", serif;
}
header .jumbotron h1 {
  letter-spacing: 4px;
  transition: 1s;
  position: absolute;
  top: 315px;
  font-size: 3.75rem;
}
@media screen and (max-width: 1200px) {
  header .jumbotron h1 {
    top: 265px;
    font-size: 3rem;
  }
}
@media screen and (max-width: 860px) {
  header .jumbotron h1 {
    font-size: 2.5rem;
    top: 202px;
  }
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  header .jumbotron h1 {
    font-size: 2rem;
    top: 125px;
  }
}
@media screen and (max-width: 349px) {
  header .jumbotron h1 {
    top: 105px;
    font-size: 1.8rem;
  }
}
header .jumbotron img {
  transition: 0.8s ease-in-out;
  border-radius: 20px;
  width: 850px;
}
@media screen and (max-width: 1200px) {
  header .jumbotron img {
    width: 720px;
  }
}
@media screen and (max-width: 860px) {
  header .jumbotron img {
    width: 550px;
  }
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  header .jumbotron img {
    width: 350px;
  }
}
@media screen and (max-width: 349px) {
  header .jumbotron img {
    width: 300px;
  }
}
header .jumbotron:hover h1 {
  letter-spacing: 20px;
}
header .jumbotron:hover img {
  transform: rotateX(180deg);
}

body {
  background-color: #010B14;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}
@media screen and (max-width: 860px) {
  body p {
    font-size: small;
  }
}
body main {
  margin: 0px 255px 0px 255px;
  margin-top: 140px;
}
@media screen and (max-width: 1200px) {
  body main {
    margin: 0px 90px 0px 90px;
    margin-top: 140px;
  }
}
@media screen and (max-width: 860px) {
  body main {
    margin: 0px 40px 0px 40px;
    margin-top: 140px;
  }
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  body main {
    margin: 0px 10px 0px 10px;
    margin-top: 140px;
  }
}
@media screen and (max-width: 349px) {
  body main {
    margin: 0px 5px 0px 5px;
    margin-top: 140px;
  }
}
@media screen and (max-width: 860px) {
  body main ul li {
    font-size: small;
  }
}
body main .hobbies {
  background-color: #014F86;
}
@media screen and (max-width: 860px) {
  body main .hobbies {
    font-size: large;
  }
}
@media screen and (max-width: 1200px) {
  body main .tech {
    margin-bottom: 10px;
  }
}
body main .tech ul {
  gap: 60px;
}
@media screen and (max-width: 1200px) {
  body main .tech ul {
    gap: 30px;
  }
}
@media screen and (max-width: 860px) {
  body main .tech ul {
    gap: 45px;
  }
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  body main .tech ul {
    gap: 20px;
  }
}
@media screen and (max-width: 349px) {
  body main .tech ul {
    gap: 15px;
  }
}
body main .tech i {
  font-size: 50px;
}
@media screen and (max-width: 860px) {
  body main .tech i {
    font-size: 40px;
  }
}
@media screen and (max-width: 349px) {
  body main .tech i {
    font-size: 30px;
  }
}
body main .tech h2 {
  background-color: #014F86;
}
@media screen and (max-width: 860px) {
  body main .tech h2 {
    font-size: large;
  }
}
body main .tech h3 {
  font-size: medium;
}
@media screen and (max-width: 860px) {
  body main .tech h3 {
    font-size: small;
  }
}
body main .tech .fa-bootstrap {
  color: #713FC1;
}
body main .tech .fa-sass {
  color: palevioletred;
}
body main .tech .fa-html5 {
  color: #e34c26;
}
body main .tech .fa-git-alt {
  color: #f1502f;
}
body main .loc {
  background-color: #001828;
  font-size: small;
}
body main .loc h3 {
  font-size: medium;
}
body main .loc img {
  height: 20px;
}
body main .loc .contact {
  background-color: #014F86;
}
body main .loc .contact:hover {
  text-decoration: none;
  background-color: rgba(25, 53, 212, 0.8);
}
body main .loc i {
  font-size: 30px;
}
body main .proyect h3 {
  background-color: #014F86;
}
@media screen and (max-width: 860px) {
  body main .proyect h3 {
    font-size: large;
  }
}
@media screen and (max-width: 349px) {
  body main .proyect h3 img {
    width: 300px !important;
  }
}

footer {
  background-color: #001828;
}/*# sourceMappingURL=estilos.css.map */