header {
    margin: $margins;

    @include large {
        margin: $marginsLarge;
    }

    @include medium {
        margin: $marginsMedium;
    }

    @include small {
        margin: 0px;
    }

    & .navbar {
        @include xtrasmall {
            flex-wrap: nowrap;
        }

        & .navbar-nav {
            @include small {
                flex-direction: row;
                margin-right: 20px;

            }

            @include xtrasmall {
                flex-direction: row;
            }
        }

        & li {
            background-color: $blueTwo;
            font-size: 13px;

            @include medium {
                font-size: 11.5px;
            }


            & a {
                color: #ADB5BD;
            }
            & a:hover {
                color: white;
            }
        }

    }

    & .jumbotron {
        background-color: #010B14;
        font-family: 'Playfair Display', serif;

        & h1 {
            letter-spacing: 4px;
            transition: 1s;
            position: absolute;
            top: 315px;
            font-size: 3.75rem;

            @include large {
                top: 265px;
                font-size: 3rem;
            }

            @include medium {
                font-size: 2.5rem;
                top: 202px;
            }

            @include small {
                font-size: 2rem;
                top: 125px;
            }

            @include xtrasmall {
                top: 105px;
                font-size: 1.8rem;
            }
        }



        & img {
            transition: 0.8s ease-in-out;
            border-radius: 20px;
            width: 850px;

            @include large {
                width: 720px;
            }

            @include medium {
                width: 550px;
            }

            @include small {
                width: 350px;
            }

            @include xtrasmall {
                width: 300px;
            }

        }

    }
    & .jumbotron:hover {
        & h1{
            letter-spacing: 20px;
        }
        & img{
            transform: rotateX(180deg);
        }
    }    
    
}