header {
    margin: $margins;
    & .navbar {
        & li {
            background-color: $blueTwo;
            font-size: 13px;

            & a {
                color: #ADB5BD;
            }
        }

    }

    & .jumbotron {
        background-color: #010B14;
        font-family: 'Playfair Display', serif;
        & h1 {
            letter-spacing: 4px;
            transition: 1s;
            position: absolute;
            top: 455px;
            font-size: 3.75rem;
        }

        & h1:hover {
            letter-spacing: 20px;
        }

        & img {
            transition: 0.8s ease-in-out;
            border-radius: 20px;
        }

        & img:hover {
            transform: rotateX(180deg);
        }
    }
}