main {
    margin: $margins;
    margin-top: 140px;

    & .hobbies {
        background-color: $blueTwo;
    }

    & .tech {
        & div {
            gap: 50px;
        }

        & i {
            font-size: 50px;
        }

        & h2 {
            background-color: $blueTwo;
        }

        & h3 {
            font-size: medium;
        }

        & .fa-bootstrap {
            color: #713FC1;
        }

        & .fa-sass {
            color: palevioletred;

        }

        & .fa-html5 {
            color: #e34c26;
        }

        & .fa-git-alt {
            color: #f1502f;
        }


    }

    & .loc {
        background-color: #001828;
        font-size: small;

        & h2 {
            font-size: medium;
        }

        & img {
            height: 20px;
        }

        & .contact {
            background-color: $blueTwo;
        }

        & i {
            font-size: 30px;
        }
    }
    & .proyect{
        & h2{
            background-color: $blueTwo;
        }
    }

}


// #001429 2do color