main {
    margin: $margins;
    margin-top: $marginTop;

    @include large {
        margin: $marginsLarge;
        margin-top: $marginTop;
    }

    @include medium {
        margin: $marginsMedium;
        margin-top: $marginTop;
    }

    @include small {
        margin: $marginsSmall;
        margin-top: $marginTop;
    }

    @include xtrasmall {
        margin: 0px 5px 0px 5px;
        margin-top: $marginTop;
    }

    & ul {
        & li {
            @include medium {
                font-size: small;
            }
        }
    }

    & .hobbies {
        background-color: $blueTwo;

        @include medium {
            font-size: large;
        }


    }

    & .tech {
        @include large {
            margin-bottom: 10px;
        }
        & ul{
            gap: 60px;

            @include large{
                gap: 30px;
            }
            @include medium{
                gap: 45px;
            }
            @include small{
                gap: 20px;
            }
            @include xtrasmall{
                gap: 15px;
            }
        }
        & i {
            font-size: 50px;

            @include medium {
                font-size: 40px;
            }

            @include xtrasmall {
                font-size: 30px;
            }
        }

        & h2 {
            background-color: $blueTwo;

            @include medium {
                font-size: large;
            }
        }

        & h3 {
            font-size: medium;

            @include medium {
                font-size: small;
            }
        }

        & .fa-bootstrap {
            color: #713FC1;

         

        }

        & .fa-sass {
            color: palevioletred;

         

        }

        & .fa-html5 {
            color: #e34c26;

         
        }


        & .fa-git-alt {
            color: #f1502f;

          

        }



    }

    & .loc {
        background-color: #001828;
        font-size: small;

        & h3 {
            font-size: medium;
        }

        & img {
            height: 20px;
        }

        & .contact {
            background-color: $blueTwo;
        }

        & .contact:hover{
            text-decoration: none;
            background-color: rgba(25, 53, 212, 0.8);
        }

        
        & i {
            font-size: 30px;
        }
    }

    & .proyect {
        & h3 {
            background-color: $blueTwo;

            @include medium {
                font-size: large;
            }

            & img {
                @include xtrasmall {
                    width: 300px !important;
                }
            }
        }



    }

}


// #001429 2do color