* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #010B14;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;

    & h2 {
        font-size: 1.5rem;
    }

    & h3 {
        font-size: 1.4rem;
    }

    & p {
        @include medium {
            font-size: small;
        }
    }
}